[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "configural"]
	path = configural
	url = https://github.com/bwiernik/configural
[submodule "pipebind"]
	path = pipebind
	url = https://github.com/bwiernik/pipebind
